.label-success {
  background-color: #37b358;
}
.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.label-warning {
  background-color: #f6c163;
}
.tabl {
  width: 100%;
  height: auto;
  border: 2px solid #c4c4c4;
}
._padding {

    margin-bottom: 1em;
    border-bottom: none;
}